{{- if .Values.giantswarmNetworkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "cainjector.fullname" . }}-cainjector-network-policy
  namespace: {{ include "cert-manager.namespace" . }}
spec:
  egress:
  - ports:
    - port: 443
      protocol: TCP
    - port: 53
      protocol: TCP
    - port: 53
      protocol: UDP
    - port: 6443
      protocol: TCP
    to:
    - ipBlock:
        cidr: 0.0.0.0/0
  podSelector:
    matchLabels:
      app: {{ include "cainjector.name" . }}
      app.kubernetes.io/name: {{ include "cainjector.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: "cainjector"
  ingress:
  - ports:
    - port: 9402
      protocol: TCP
  policyTypes:
  - Ingress
  - Egress
{{- end }}
