apiVersion: iam.aws.upbound.io/v1beta1
kind: Role
metadata:
  name: {{.Values.clusterName}}-cert-manager
  namespace: {{.Release.Namespace}}
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  providerConfigRef:
    name: {{.Values.clusterName}}
  forProvider:
    tags:
      giantswarm.io/cluster: {{.Values.clusterName}}
      sigs.k8s.io/cluster-api-provider-aws/cluster/{{.Values.clusterName}}: owned
    assumeRolePolicy: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {{- $oidcDomains := include "oidcDomains" . | fromJsonArray -}}
          {{- range $index, $oidcDomain := $oidcDomains -}}
          {{- if not (eq $index 0) }}, {{ end }}{
            "Effect": "Allow",
            "Principal": {
              "Federated": "arn:{{$.Values.awsPartition}}:iam::{{$.Values.accountID}}:oidc-provider/{{$oidcDomain}}"
            },
            "Action": "sts:AssumeRoleWithWebIdentity",
            "Condition": {
              "StringLike": {
                "{{$oidcDomain}}:sub": "system:serviceaccount:cert-manager:cert-manager-app"
              }
            }
          }
          {{- end }}
        ]
      }
    inlinePolicy:
      - name: cert-manager-route53-policy
        policy: |
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Effect": "Allow",
                "Action": "route53:GetChange",
                "Resource": "arn:{{$.Values.awsPartition}}:route53:::change/*"
              },
              {
                "Effect": "Allow",
                "Action": [
                  "route53:ChangeResourceRecordSets",
                  "route53:ListResourceRecordSets"
                ],
                "Resource": "arn:{{$.Values.awsPartition}}:route53:::hostedzone/*"
              },
              {
                "Effect": "Allow",
                "Action": "route53:ListHostedZonesByName",
                "Resource": "*"
              }
            ]
          }
