[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
pytest-helm-charts = {git = "https://github.com/ubergesundheit/pytest-helm-charts-kubectl.git", editable = false, ref = "add-kubectl"}
pytest = ">=6.1.2"
pykube-ng = ">=20.10.0"
pytest-rerunfailures = "*"

[requires]
python_version = "3.8"
